[data-turn-enter],
[data-turn-exit] {
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: forwards;
}

html.turn-enter [data-turn-enter="fade-in-up"] {
  animation-name: fade-in-up;
  animation-duration: .6s;
}

html.turn-exit [data-turn-exit="fade-out-up"] {
  animation-name: fade-out-up;
  animation-duration: .3s;
}

@keyframes fade-in-up {
  0% {
   opacity: 0;
   transform: translate3d(0, 50px, 0)
  }

  100% {
   opacity: 1;
   transform: translateZ(0)
  }
}

@keyframes fade-out-up {
  0% {
   opacity: 1;
   transform: translateZ(0)
  }

  100% {
   opacity: 0;
   transform: translate3d(0, -50px, 0)
  }
}